[user]
    email = 10111643+Irizwaririz@users.noreply.github.com
    name = John Carlo Roberto
[core]
    editor = vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
