vim/.vim/.netrwhist
vim/.vim/autoload/
vim/.vim/plugged/
vim/.vim/cache/swap/
vim/.vim/cache/backup/
vim/.vim/cache/undo/

local/.local/bin/obsidian
local/.local/bin/__pycache__/
local/.local/bin/daff
local/.local/bin/daff.py
local/.local/bin/dbt
local/.local/bin/deep
local/.local/bin/f2py
local/.local/bin/google-oauthlib-tool
local/.local/bin/httpx
local/.local/bin/jsonschema
local/.local/bin/jupyter
local/.local/bin/jupyter-migrate
local/.local/bin/jupyter-troubleshoot
local/.local/bin/jupyter-trust
local/.local/bin/numpy-config
local/.local/bin/pip
local/.local/bin/pip3
local/.local/bin/pip3.13
local/.local/bin/pybabel
local/.local/bin/pyrsa-decrypt
local/.local/bin/pyrsa-encrypt
local/.local/bin/pyrsa-keygen
local/.local/bin/pyrsa-priv2pub
local/.local/bin/pyrsa-sign
local/.local/bin/pyrsa-verify
local/.local/bin/slugify
local/.local/bin/sqlformat
local/.local/bin/tb-gcp-uploader
